html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
}

#app h1 {
  font-weight: lighter;
  text-align: center;
  margin-bottom: 32px;
}

#container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 700px;
}

#container-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
}

#container>* {
  flex: 1;
}

#container textarea {
  resize: none;
  overflow: visible;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
}